.archivo-black-regular {
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
}

#current-month {
  font-family: "Archivo Black", sans-serif;
  font-size: 70px;
  font-weight: 700;
}

.main-calendar-container {
  width: 390px;
  height: 844px;
  background-color: rgb(144, 144, 144);
  position: relative;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  overflow: hidden; /* Optional: Prevent content from spilling */
}

.calendar-container {
  width: 360px;
  padding: 10px;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10px;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  padding: 10px;
  margin-bottom: 10px;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 6px;
  padding: 10px 0;
}

.day {
  width: 44px;
  height: 44px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  cursor: pointer;
  font-size: 24px;
}

.mood-1 {
  background-color: #f25f5c;
} /* Angry - Red */
.mood-2 {
  background-color: #ffb347;
} /* Sad - Orange */
.mood-3 {
  background-color: #ffe066;
} /* Neutral - Yellow */
.mood-4 {
  background-color: #70c1b3;
} /* Calm - Greenish */
.mood-5 {
  background-color: #247ba0;
} /* Happy - Blue */

.day.no-data {
  background-color: #ddd;
  opacity: 0.5;
}
